# NESTJS CONFIG
NESTJS_PORT=

# DGRAPH CONFIG
DGRAPH_VERSION=v20.03.0
DGRAPH_GRPC_HOST=
DGRAPH_HEALTH_CHECK_ENDPOINT=

# NATS.IO CONFIG
NATS_VERSION=2.1.8
NATS_CLIENTS_URL=

# ENS
ENS_URL=https://volta-rpc-vkn5r5zx4ke71f9hcu0c.energyweb.org/
PUBLIC_RESOLVER_ADDRESS=0x0a97e07c4Df22e2e31872F20C5BE191D5EFc4680
ENS_REGISTRY_ADDRESS=0xd7CeF70Ba7efc2035256d828d5287e2D285CD1ac
DID_REGISTRY_ADDRESS=0xc15d5a57a8eb0e1dcbe5d88b8f9a82017e5cc4af

# REDIS
REDIS_VERSION=6.0.8
REDIS_PASSWORD=

REDIS_PORT=
REDIS_HOST=

# IPFS
IPFS_URL=https://ipfs.infura.io:5001/api/v0/

# INTERVALS
DIDDOC_SYNC_INTERVAL_IN_MS=3600000
DID_SYNC_ENABLED=true
ENS_SYNC_INTERVAL_IN_MS=600000
ENS_SYNC_ENABLED=true

# ECR
DOCKER_REGISTRY=
DOCKER_REPOSITORY=
