# compiled output
/dist
/node_modules
/src/ethers

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*-audit.json
ormlogs.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/e2e/setupIpfsCluster/ipfs0/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env

# Using either dev or prod docker-compose file
docker-compose.yml
!/e2e/setupIpfsCluster/docker-compose.yml
db_dumps
private.pem
public.pem
